@CHARSET "UTF-8";

.errorMessages {
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	color: red;
	font-size:25px;
	text-align: center;
}
p.center {
	width:50%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
table.centermanage {
	width:100%; /* 600px以下は幅いっぱいに広げる */
	height: 500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
table.center {
	width:50%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
a.right {
	float:right;
	margin-right:40px;
}
a.font {
	font-size:30px;
}
table.manage {
	width:100%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
	border: 10px solid #800040;
}

