@CHARSET "UTF-8";

/*トップ画面*/

.subButton{
	margin-left : 76%;
}
.subButton input{
	width : 100px;
	height : 40px;
}


.menuBar{
	width : 79.5%;
	height : 40px;
	margin-left : auto;
	margin-right : auto;
}
.menuBar tr td{
	width : 230px;
	text-align : center;
}

.menuBar input{
	width : 100%;
	height : 30px;
	background-color: #ff8000;
	color: #fff;
	border-style: none;
	cursor : pointer;
}

p{
	text-align: center;
}

.topTable {
	width: 80%;
	height: 300px;
	border-collapse: separate;
	border-spacing: 5px;
	border-color: red;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*ログイン時のトップページ*/
.loginedSearchButton{
	font-size: 70px;
	width : 100%;
	height : 300px;
	font-weight: bold;
	padding: 10px 105px;
	background-color: #248;
	color: #fff;
	border-style: none;
	cursor : pointer;
}

.loginedRankingButton{
	font-size: 70px;
	width : 100%;
	height : 300px;
	font-weight: bold;
	padding: 10px 0px;
	background-color: #248;
	color: #fff;
	border-style: none;
	cursor : pointer;
}

/*未ログイン時のトップページ*/
.rankingButton{
	font-size: 40px;
	width : 100%;
	height : 210px;
	font-weight: bold;
	padding: 10px 20px;
	background-color: #248;
	color: #fff;
	border-style: none;
	cursor : pointer;
}

.loginButton{
	font-size: 40px;
	width : 100%;
	height : 90px;
	font-weight: bold;
	padding: 10px 0px;
	background-color: #248;
	color: #fff;
	border-style: none;
	cursor : pointer;
}

.searchButton{
	font-size: 70px;
	width : 100%;
	height : 305px;
	font-weight: bold;
	padding: 10px 50px;
	background-color: #248;
	color: #fff;
	border-style: none;
	cursor : pointer;
}

/*お知らせ*/

.notification{
	text-align: center;
	background-color : #804000;
	font-size : 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.notification h5{
	font-size : 28px;
}

.notification table{
	margin-left: auto;
	margin-right: auto;
}

/*ページナンバー*/
.pageNumber{
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 5px;
    text-align: center;
}

.pageNumber tr td{
    margin-left: 0px;
	margin-right: 0px;
}

.currentPage{
	font-size: 20px;
}

.otherPage{
	font-size: 20px;
	font-weight: bold;
	background-color: #248;
	color: #fff;
	border-style: none;
	cursor : pointer;
}