@CHARSET "UTF-8";

.errorMessages {
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	color: red;
	font-size:25px;
	text-align: center;
}
p.center {
	width:50%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
table.centermanage {
	width:100%; /* 600px以下は幅いっぱいに広げる */
	height: 500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
table.center {
	width:50%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
a.right {
	float:right;
	margin-right:40px;
}
a.font {
	font-size:30px;
}
table.manage {
	width:90%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
	border: 10px solid #800040;
}
table.form {
	width:100%; /* 600px以下は幅いっぱいに広げる */

	text-align:left; /* インライン要素の中央揃え */
}
h3 {
	text-align:center; /* インライン要素の中央揃え */
}
.notificationForm {
	width:90%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
}
table tr.font1 {
	font-family: "ＭＳ Ｐ明朝";
	font-size:25px;
}
table tr.font2 {
	font-size:20px;
}
table tr.font3 {
	font-size:20px;
	font-family: "ＭＳ Ｐゴシック";
}
.bigsize {
	font-family: "ＭＳ Ｐ明朝";
	font-size:25px;
}
