@CHARSET "UTF-8";
input {
	font-size:16px;
}
select {
	font-size:16px;
}
.admin {
    background-color: rgb(236, 255, 223);
}
.notificationForm{
	margin-left: 120px;
	font-size: 16px;
}
.addBookForm{
	margin-left: 120px;
	font-size: 16px;
}
.addUserForm{
	margin-left: 120px;
	font-size: 16px;
}

.editBookForm{
	margin-left: 120px;
	font-size: 16px;
}
.editUserForm{
	margin-left: 120px;
	font-size: 16px;
}
.set{
	margin-left: 120px;
	font-size: 16px;
}

.form {
	margin-left:120px;
	font-size:16px;
}


ul.pageNav01 {
	margin: 0 0 10px;
	padding: 10px 10px 5px;
	background: #eee;
	text-align: center;
}

ul.pageNav01 li {
	display: inline;
	margin: 0 2px;
	padding: 0;
}

ul.pageNav01 li span,
ul.pageNav01 li a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 1px 8px;
	background: #fff;
	border: 1px solid #aaa;
	text-decoration: none;
	vertical-align: middle;
}

ul.pageNav01 li a:hover {
	background: #eeeff7;
	border-color: #00f;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
ul, menu, dir {
	text-align: center;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.register {
	margin-top: 3%;
	font-size: 30px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 150px;
    height: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(202, 0, 0);/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.register {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.focus {
	margin-top: 3%;
	font-weight: 900;
	font-size: 20px;
    text-align: center;
    line-height: 1;
	width: 160px;
    height: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.focus {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.exception {
	margin-top: 3%;
	font-weight: 900;
	font-size: 20px;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.exception {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.post {
	margin-top: 3%;
	font-weight: 900;
	font-size: 20px;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #00f;;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.post {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.reserve {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(202, 0, 0);/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.reserve {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.favorite {
	font-size: 15px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff8000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.favorite {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.cancel {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.cancel {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}
.delete {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.delete {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}
.clear {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 160px;
    height: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.clear {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.sort {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 160px;
    height: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.sort {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.userChange {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.userChange {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.reday {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.reday {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

button {
	margin-top:3%;
	font-weight: 900;
	font-size: 20px;
    text-align: center;
    line-height: 1;
	width: 150px;
    height: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f57d49;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
button {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.edit {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff8000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.edit {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.circulation {
	font-size: 17px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(202, 0, 0)	;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.circulation {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.reservation {
	font-size: 17px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff0000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.reservation {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.notReturn {
	font-size: 17px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.notReturn {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.addBook {
	font-size: 17px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 200px;
    height: 110px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff8c8c;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.addBook {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

.fenix {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(202, 0, 0);/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.fenix {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}
.stop {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #248;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.stop {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}
.request {
	font-size: 20px;
	font-weight: 900;
    text-align: center;
    line-height: 1;
	width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #248;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 14px;
    cursor:pointer;
}
.request {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    outline: none;
}

