@CHARSET "UTF-8";

<<<<<<< HEAD
=======
ul.pageNav01 {
	margin: 0 0 10px;
	padding: 10px 10px 5px;
	background: #eee;
	text-align: center;
}

ul.pageNav01 li {
	display: inline;
	margin: 0 2px;
	padding: 0;
}

ul.pageNav01 li span,
ul.pageNav01 li a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 1px 8px;
	background: #fff;
	border: 1px solid #aaa;
	text-decoration: none;
	vertical-align: middle;
}

ul.pageNav01 li a:hover {
	background: #eeeff7;
	border-color: #00f;
}

>>>>>>> 1c054587102654e7ab1bd9a27e5f078a2a80fb4c
.errorMessages {
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	color: red;
	font-size:25px;
	text-align: center;
}
p.center {
	width:50%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
table.centermanage {
	width:100%; /* 600px以下は幅いっぱいに広げる */
	height: 500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
table.center {
	width:50%; /* 600px以下は幅いっぱいに広げる */
	margin-left:auto;
	margin-right:auto;
	text-align:center; /* インライン要素の中央揃え */
}
a.right {
	float:right;
	margin-right:40px;
}
a.font {
	font-size:30px;
}
